@tailwind base;
@tailwind components;
@tailwind utilities;

.fonde_header{
    background-image: url('/header.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.fonde_principal{
    background-image: url('/cocina.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.colorTexto{
    color: #5F3907;
}

.quitarMenu{
    left: 50px !important;
}